
.workspace-section {
  max-height: 100%;
  min-height: 0;
  height: 100%;
  background: var(--content-wrapper-color);
  border-radius: var(--border-radius);
}

.ws-worksection-wrap {
  margin: 20px;
  flex-grow: 1; // fill all available container height
  min-height: 0;
  display: flex;

  @media screen and (max-height: 768px) {
    margin: 14px;
  }
}

.ws-worksection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .wt-search-bar {
    margin-bottom: var(--spacing-xs);
  }


  &__list-instruction {
    @extend %typo-subtitle-1;
    text-align: center;
    margin-bottom: var(--spacing-xs);
  }

  .ws-worksection__list {
    @extend %wt-scrollbar;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: var(--spacing-2xs);
  }

  .ws-worksection__list-wrap {
    width: 100%;
  }

  .ws-worksection__list-separator {
    @extend %typo-body-2;
    text-align: center;
    color: var(--text-main-color);
    margin: var(--spacing-xs) 0;
  }

  .wt-loader,
  .empty-search {
    margin: auto;
  }
}

.ws-worksection__item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  border-radius: var(--border-radius);
  transition: var(--transition);

  &:last-child {
    margin-bottom: 0;
  }

  &__pic {
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__text {
    flex: 1 0 auto;
    margin: 0 var(--spacing-sm);

    .flex-wrap {
      display: flex;
      justify-content: space-between;
    }
  }

  &__status {
    align-self: end;
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
  }
}

.ws-contact-item__name {
  @extend %typo-subtitle-1;
}

.ws-contact-item__number {
  @extend %typo-caption;
}

.markdown-body {
  color: var(--text-main-color);
}

.theme--dark .markdown-body table * {
  background: var(--content-wrapper-color);
}
