.workspace-section {
  max-height: 100%;
  min-height: 0;
  height: 100%;
  background: var(--content-wrapper-color);
  border-radius: var(--border-radius);
}

.markdown-body {
  color: var(--text-main-color);
}

.theme--dark .markdown-body table * {
  background: var(--content-wrapper-color);
}

.task-queue {
  @extend %wt-scrollbar;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding-right: var(--scrollbar-width);
  gap: var(--spacing-xs);
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
