.workspace-section {
  max-height: 100%;
  min-height: 0;
  background: var(--content-wrapper-color);
  border-radius: var(--border-radius);
}

.markdown-body {
  color: var(--text-main-color);
}

.theme--dark .markdown-body table * {
  background: var(--content-wrapper-color);
}
