@use '@webitel/ui-sdk/src/css/main' as *;

:root {
  --chat-file-max-width: 280px;
  --chat-file-min-width: 256px;
  --chat-file-max-height: 280px;
  --chat-file-min-height: 256px;
  --player-audio-height: 44px;
  --chat-video-player-height: 201px;
  --chat-video-player-width: 256px;
}

#app {
  //@author PolinaSukhorukova-webitel 
  //in @webitel/ui-sdk/src/css/main we have variable --chat-video-player-height, 
  //they are set in #app, so we need to override them to avoid bottom bar overlaps the video in chat
  //https://webitel.atlassian.net/browse/WTEL-9530
  --chat-video-player-height: 217px !important;
}

.chat-messages-container {
  position: relative;
  display: flex;
  overflow: hidden;
  height: inherit;

  .chat-messages-items {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding-right: var(--scrollbar-width); // scrollbar offset
    scrollbar-gutter: stable both-edges;
    gap: var(--spacing-xs);
  }
}
