:root {
  --chat-file-max-width: 280px;
  --chat-file-min-width: 256px;
  --chat-file-max-height: 280px;
  --chat-file-min-height: 256px;
}

.chat-messages-container {
  display: flex;
  overflow: hidden;
  height: inherit;

  .chat-messages-items {
    @extend %wt-scrollbar;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    scrollbar-gutter: stable both-edges;
    gap: var(--spacing-xs);
  }
}

