@use '@webitel/ui-sdk/src/css/main' as *;

.task-queue {
  @extend %wt-scrollbar;
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding-right: var(--scrollbar-width); // scrollbar offset
  gap: var(--spacing-xs);
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}
