$opened-item-shadow: inset 0px 0px 8px -5px rgba(0, 0, 0, 0.15),
inset 0px 0px 8px -5px rgba(0, 0, 0, 0.15);

$opened-item-shadow2: inset 0px 1px 4px -3px rgba(0, 0, 0, 0.15),
inset 0px -1px 4px -3px rgba(0, 0, 0, 0.15);

$opened-item-shadow1: inset 0px 0px 8px rgba(0, 0, 0, 0.15),
inset 0px 0px 8px rgba(0, 0, 0, 0.15),
inset 0 8px 0px 0px #fff,
inset 0 -8px 0px 0px #fff;

.queue-preview {
  box-sizing: border-box;
  position: relative;
  padding: calcVH(20px) calcVH(30px);
  border: 0 solid transparent;
  border-bottom-color: $page-bg-color;
  border-radius: $border-radius;
  cursor: pointer;

  &.opened {
    box-shadow: $opened-item-shadow;
  }
}

.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__name {
    @extend .typo-heading-sm;
  }

  &__time {
    .preview-header__time-digit {
      @extend .typo-body-md;
      text-align: center;
      display: inline-block;
      width: calcVH(9.5px);

      /*semicolons*/
      &:nth-child(3), &:nth-child(6) {
        width: calcVH(5px);
      }
    }

    &__bold .preview-header__time-digit {
      font-family: 'Montserrat Semi', monospace;
    }
  }
}

// .message-preview__text, FOR CHATS
.call-preview__number {
  @extend .typo-body-md;
}

.preview-actions {
  display: flex;
  justify-content: space-between;
  margin-top: calcVH(20px);

  .cc-btn {
    flex-grow: 1;

    &:first-child {
      margin-right: calcVH(20px);
    }
  }
}