.queue-preview {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  box-sizing: border-box;
  position: relative;
  padding: var(--spacing-xs);
  margin-bottom: 1px;
  border: 1px solid transparent;
  background: var(--main-color);
  border-radius: var(--border-radius);
  cursor: pointer;

  &--opened {
    border-color: var(--accent-color);
  }

  @media screen and (max-width: 1336px) {
    display: flex;
    align-items: center;
    padding: var(--spacing-xs);
    height: 36px;

    .call-status-chip {
      position: static;
      margin-right: var(--spacing-xs);
    }
  }
}

.queue-preview-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0; // prevents queue-preview-header content overflowing

  &__name {
    @extend %typo-subtitle-1;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @media screen and (max-width: 1336px) {
      display: none;
    }
  }
  .wt-icon {
    margin-right: var(--spacing-xs);
  }
}

//.offline-queue .queue-preview-header__name {
//  @media screen and (max-width: 1336px) {
//    display: block;
//  }
//}

.queue-preview-body {
  @extend %typo-body-2;
  color:var(--text-outline-color);
  @media screen and (max-width: 1336px) {
    display: none;
  }
}

.queue-preview-chips {
  @media screen and (max-width: 1336px) {
    display: none;
  }
}

.queue-preview-footer {
  @media screen and (max-width: 1336px) {
    display: none;
  }

  .queue-preview-actions {
    display: flex;

    .wt-button {
      flex-grow: 1;

      &:first-child {
        margin-right: var(--spacing-xs);
      }
    }
  }
}
