
.task-queue__header {
  padding: var(--spacing-xs);
  margin-bottom: 1px;
  background: var(--main-color);
  border-radius: var(--border-radius);
}

.task-queue__header__title {
  @extend %typo-caption;
  color: var(--text-outline-color);
}
