
// PRIMARY COLORS:
$sidebar-color: #171A2A; // sidebar panel
$header-color: #EAEAEA; // header
$content-bg-color: #FFF; // content

// ACCENT COLORS:
$nav-icon-color: rgba(255, 255, 255, 1); //nav icon color
$icon-color: rgba(0, 0, 0, 0.3); //icon color
$accent-color: #FFC107; // links, icons, buttons

// SEMANTIC COLORS:
$true-color: #4CAF50;
$false-color: #FF4444;
$info-color: $accent-color;

// NEUTRAL COLORS:
//$label-color: rgba(0, 0, 0, 0.45);
$label-color: #000;
$input: #EAE9E9;
$input-disabled: rgba(0, 0, 0, 0.05);
$divider-color: rgba(0, 0, 0, 0.1);
$tag-background: rgba(255, 230, 156, 0.5);
$table-hover: #F9F9F9;

// OTHER
$input-padding: 11px 16px 7px;
$border-radius: 4px;
$transition: 0.2s;
$box-shadow: rgba(0, 0, 0, 0.08) 0 8px 18px;

$srollbar-color: rgba(0, 0, 0, 0.1);
$srollbar-thumb-color: rgba(0, 0, 0, 0.3);
