
.empty-workspace {
  height: 100%;

  &__content-wrap {
    text-align: center;
    position: relative;
    top: 50%;
    display: block;
    margin: auto;
    transform: translateY(-50%);
  }

  &__heading {
    @extend .typo-heading-sm;
    margin-top: (20px);
  }

  &__text {
    @extend .typo-body-sm;
    margin-top: (10px);
  }
}

.workspace-pic {
  width: 180px;
  height: 150px;
  display: block;
  margin: auto;
  overflow: hidden;
  pointer-events: none;
}
