
.empty-workspace {
  height: 100%;

  &__content-wrap {
    text-align: center;
    position: relative;
    top: 50%;
    display: block;
    margin: auto;
    transform: translateY(-50%);
  }

  &__heading {
    @extend .typo-heading-sm;
    margin-top: calcVH(20px);
  }

  &__text {
    @extend .typo-body-sm;
    margin-top: calcVH(10px);
  }
}

.workspace-pic {
  width: calcVH(180px);
  height: calcVH(133px);
  display: block;
  margin: auto;
}
