{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "trailingComma": "all",
  "printWidth": 80,
  "singleAttributePerLine": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-css-order"]
}
