
.empty-workspace {
  &__content-wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
    justify-content: center;
  }

  &__heading {
    @extend %typo-subtitle-1;
  }

  &__text {
    @extend %typo-caption;
  }
}

.workspace-pic {
  width: 180px;
  height: 180px;
}
