@use '@webitel/ui-sdk/src/css/main' as *;

.empty-workspace {
  height: 100%;

  &__content-wrap {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    align-items: center;
    justify-content: center;
  }
}

.workspace-pic {
  width: 180px;
  height: 180px;
}