@forward 'reusable';
@use 'reusable';
@use '@webitel/ui-sdk/src/css/main' as *;

html {
  height: 100%;
}

body {
  @extend %typo-body-1;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-size: 100%;
  color: var(--text-main-color);
  background: var(--wt-page-wrapper-background-color);

  @media screen and (max-height: 610px) {
   min-height: 610px;
  }
}

main {
  min-height: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
