


// form wrap itself
.processing-form {
  max-width: (530px);
  padding: 0 (20px);
  margin: auto;

  // selects
  &__category,
  &__subcategory {
    margin-bottom: (20px);
  }

  .cc-textarea {
    width: 100%;
  }

  &__datetime {
    display: flex;
    justify-content: stretch;

    .datepicker {
      flex: 4 1 auto;
    }

    .timepicker {
      margin-left: (20px);
      flex: 0 0 auto;
    }
  }
}