// DEFAULT BUTTON
$default-btn-color: #FFC107;
$default-btn-color__hover: #FFCB2E;

// HOLD BUTTON
$hold-btn-color: #FFC107;
$hold-btn-color__hover: #FFCB2E;

// CALL BUTTON
$call-btn-color: #4CAF50;
$call-btn-color__hover: #64C74A;

// TRANSFER BUTTON
$transfer-btn-color: #708FFF;
$transfer-btn-color__hover: #86A1FF;

// END BUTTON
$end-btn-color: #FF4444;
$end-btn-color__hover: #FF6565;

// SECONDARY-ROUNDED BUTTONS
$secondary-action-color: #F9FBFB;
$secondary-action-color__active: #DFDFDF;
$secondary-action-color__active-hover: #CECCCC;

$secondary-action-icon-color: #808080;
$secondary-action-icon-color__hover: #171A2A;
$secondary-action-icon-color__active: #fff;

// SECONDARY BUTTONS
$secondary-btn-color: #4D4D4D;
$secondary-btn-color__hover: #000;

// DISABLED BUTTON
$btn-disabled: #CECCCC;
