// COLORS
$input-text-color: #A3A2A2;
$input-icon-color: #A3A2A2;
$input-border-color: #EAEAEA;

$input-text-color__active: #000000;
$input-icon-color__active: #000000;
$input-border-color__active: #000000;

.cc-label {
  @extend .typo-input;
  color: #000;
}

.cc-err-message {
  @extend .typo-body-md;
  color: #000;
}

.invalid .cc-label,
.invalid .cc-err-message {
  color: $error-color;
}

// TEXTAREA
.cc-textarea {
  @extend .typo-input;
  display: inline-block;
  position: relative;
  width: calcRem(510px);
  height: calcRem(200px);
  padding: calcRem(10px) calcRem(40px) calcRem(40px) calcRem(20px);
  border: calcRem(1px) solid $input-border-color;
  border-radius: $border-radius;

  &.focused .cc-textarea__close .icon {
    fill: $input-icon-color__active;
    stroke: $input-icon-color__active;
  }
}

.cc-textarea__textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.cc-textarea__close {
  position: absolute;
  top: calcRem(8px);
  right: calcRem(8px);
  .icon {
    fill: $input-icon-color;
    stroke: $input-icon-color;
  }
}

.cc-textarea__send {
  position: absolute;
  bottom: calcRem(8px);
  right: calcRem(8px);
  color: $input-icon-color;
  .icon {
    fill: $input-icon-color;
    stroke: $input-icon-color;
  }
}

// INPUT

.cc-input {
  display: inline-block;
  min-width: calcRem(429px);
}

.cc-input__body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: calcRem(7px);
  border: calcRem(1px) solid $input-border-color;
  border-radius: $border-radius;

  &.focused, &:hover {
    border-color: $input-border-color__active;

    .cc-input__icon .icon {
      fill: $input-icon-color__active;
      stroke: $input-icon-color__active;
    }
  }
}

.cc-input__input {
  @extend .typo-input;
  width: 100%;
  margin: 0 calcRem(8px);
  border: none;
}

.cc-input__icon {
  height: 24px;
  .icon {
    fill: $input-icon-color;
    stroke: $input-icon-color;
  }
}

// SEARCH INPUT
.cc-search-input {
  width: 100%;
}

.cc-input__body {
  &.focused, &:hover {
    border-color: $input-border-color;

    .icon {
      fill: $input-icon-color__active;
      stroke: $input-icon-color__active;
    }
  }
}
