// COLORS
$input-text-color: #A3A2A2;
$input-icon-color: #A3A2A2;
$input-border-color: #EAEAEA;

$input-text-color__active: #000000;
$input-icon-color__active: #000000;
$input-border-color__active: #000000;

.cc-label {
  @extend .typo-input;
  display: inline-block;
  color: #000;
}

.cc-err-message {
  @extend .typo-body-md;
  color: #000;
}

.invalid .cc-label,
.invalid .cc-err-message {
  color: $error-color;
}

// TEXTAREA
.cc-textarea {
  display: inline-block;
  position: relative;
  width: calcVH(510px);
  height: calcVH(200px);
  padding: calcVH(10px) calcVH(40px) calcVH(40px) calcVH(20px);
  border: calcVH(1px) solid $input-border-color;
  border-radius: $border-radius;
  box-sizing: border-box;

  &.focused .cc-textarea__close .icon {
    fill: $input-icon-color__active;
    stroke: $input-icon-color__active;
  }
}

.cc-textarea__textarea {
  @extend .typo-input;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
}

.cc-textarea__close {
  position: absolute;
  top: calcVH(8px);
  right: calcVH(8px);

  .icon {
    fill: $input-icon-color;
    stroke: $input-icon-color;
  }
}

.cc-textarea__send {
  position: absolute;
  bottom: calcVH(8px);
  right: calcVH(8px);
  color: $input-icon-color;

  .icon {
    fill: $input-icon-color;
    stroke: $input-icon-color;
  }
}

// INPUT

.cc-input {
  display: flex;
  flex-direction: column;
  //min-width: calcVH(429px);
  min-width: 100%;
}

.cc-input__body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: calcVH(40px);
  padding: calcVH(8px) calcVH(7px);
  border: calcVH(1px) solid $input-border-color;
  border-radius: $border-radius;

  &.focused, &:hover {
    border-color: $input-border-color__active;

    .cc-input__icon .icon {
      fill: $input-icon-color__active;
      stroke: $input-icon-color__active;
    }
  }
}

.disabled .cc-input__body,
.disabled .cc-input__body.focused,
.disabled .cc-input__body:hover {
  border-color: transparent;
}

.cc-input__input {
  @extend .typo-input;
  width: 100%;
  margin: 0 calcVH(8px);
  border: none;
  outline: none;

  &:disabled {
    border-color: transparent;
    background: #fff;
    cursor: text;
  }
}

.cc-input__icon {
  height: calcVH(24px);

  .icon {
    fill: $input-icon-color;
    stroke: $input-icon-color;
  }
}


// SEARCH INPUT
.cc-search-input {
  width: 100%;
}

.cc-input__body {
  &.focused, &:hover {
    border-color: $input-border-color__active;

    .icon {
      fill: $input-icon-color__active;
      stroke: $input-icon-color__active;
    }
  }
}

.input__short {
  @extend .typo-input;
  text-align: center;
  width: calcVH(40px);
  padding: calcVH(9px) calcVH(4px); // 10px 5px - borders
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  box-sizing: border-box;
  transition: $transition;

  &:hover, &:focus {
    border-color: #000;
  }
}
