.notifications-wrap {
  position: fixed;
  top: calcVH(5px);
  right: calcVH(5px);
  z-index: 1000;
}

.notification {
  @extend .typo-body-md;
  @extend .box-shadow;

  position: relative;
  display: flex;
  align-items: center;
  min-width: calcVH(430px);
  max-width: calcVH(850px);
  padding: calcVH(24px) calcVH(30px);
  margin-top: calcVH(7px);
  color: #000;
  background: #fff;
  border-radius: $border-radius;
  cursor: pointer;
}

.notification__text {
  flex-grow: 1;
  margin: 0 calcVH(24px) 0 calcVH(40px);
}
