.notifications-wrap {
  position: fixed;
  top: (5px);
  right: (5px);
  z-index: 1000;
}

.notification {
  @extend .typo-body-md;
  @extend .box-shadow;

  position: relative;
  display: flex;
  align-items: center;
  min-width: (430px);
  max-width: (850px);
  padding: (24px) (30px);
  margin-top: (7px);
  color: #000;
  background: #fff;
  border-radius: $border-radius;
  cursor: pointer;
}

.notification__text {
  flex-grow: 1;
  margin: 0 (24px) 0 (40px);
}
