@import '../utils/mixins';

.typo-heading-lg {
  font-family: 'Montserrat Semi', monospace;
  @include fontSize(24px);
  @include lineHeight(26px);
}

.typo-heading-md {
  font-family: 'Montserrat Semi', monospace;
  @include fontSize(20px);
  @include lineHeight(22px);
}

.typo-heading-sm {
  font-family: 'Montserrat Semi', monospace;
  @include fontSize(14px);
  @include lineHeight(22px);
}

.typo-heading-xs {
  font-family: 'Montserrat Semi', monospace;
  @include fontSize(12px);
  @include lineHeight(22px);
}

.typo-body-lg {
  font-family: 'Montserrat Regular', monospace;
  @include fontSize(14px);
  @include lineHeight(30px);
}

.typo-body-md {
  font-family: 'Montserrat Regular', monospace;
  @include fontSize(14px);
  @include lineHeight(20px);
}

.typo-body-sm {
  font-family: 'Montserrat Regular', monospace;
  @include fontSize(12px);
  @include lineHeight(18px);
}

.typo-input {
  font-family: 'Montserrat Regular', monospace;
  @include fontSize(14px);
  @include lineHeight(20px);
}

.typo-btn {
  font-family: 'Montserrat Semi', monospace;
  @include fontSize(12px);
  @include lineHeight(18px);
}
