
.typo-heading-lg {
  font-family: 'Montserrat Semi', monospace;
  font-size: (24px);
  line-height: (26px);
}

.typo-heading-md {
  font-family: 'Montserrat Semi', monospace;
  font-size: (20px);
  line-height: (22px);
}

.typo-heading-sm {
  font-family: 'Montserrat Semi', monospace;
  font-size: (14px);
  line-height: (22px);
}

.typo-heading-xs {
  font-family: 'Montserrat Semi', monospace;
  font-size: (12px);
  line-height: (22px);
}

.typo-body-lg {
  font-family: 'Montserrat Regular', monospace;
  font-size: (14px);
  line-height: (30px);
}

.typo-body-md {
  font-family: 'Montserrat Regular', monospace;
  font-size: (14px);
  line-height: (20px);
}

.typo-body-sm {
  font-family: 'Montserrat Regular', monospace;
  font-size: (12px);
  line-height: (18px);
}

.typo-input {
  font-family: 'Montserrat Regular', monospace;
  font-size: (14px);
  line-height: (20px);
}

.typo-btn {
  font-family: 'Montserrat Semi', monospace;
  font-size: (12px);
  line-height: (18px);
}
