@import "./utils/variables";
@import "./utils/helper-classes";
@import "./styleguide/typography";

* {
  font-family: 'Montserrat Regular', monospace;
  font-size: 100%;
}

//reset ul styles
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

iframe {
  border: none;
  outline: none;
}

i {
  color: $icon-color;
  transition: $transition;
}
