@use '@webitel/ui-sdk/src/css/main' as *;

.queue-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: var(--spacing-xs);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background: var(--content-wrapper);
  gap: var(--spacing-xs);
  transition: var(--transition);

  &:hover {
    background: var(--content-wrapper-hover-color);
  }

  &--opened {
    border-color: var(--primary-color);
  }
}

.queue-preview-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0; // prevents queue-preview-header content overflowing
  gap: var(--spacing-xs);
  width: 100%;
}

.queue-preview-title,
.queue-preview-tooltip-title {
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.queue-preview-subtitle,
.queue-preview-tooltip-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.queue-preview-icon-status {
  line-height: 0;
}

.queue-preview-chips {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--spacing-2xs);
  word-break: break-word;

  .wt-chip {
    white-space: break-spaces;
  }
}
