:root {
  --ws-popup-z-index: var(--popup-wrapper-z-index);
  --ws-media-viewer-z-index: var(--popup-wrapper-z-index);
  --ws-video-container-z-index: var(--popup-wrapper-z-index);
  --ws-dropdown-z-index: calc(var(--popup-wrapper-z-index) - 1);
  --ws-video-action-z-index: 10;
  --ws-tooltip-z-index: 10;
}
