:root {
  // wt-popup z-index: 11;
  --ws-popup-z-index: var(--popup-wrapper-z-index);
  --ws-media-viewer-z-index: var(--popup-wrapper-z-index);
  --ws-video-container-z-index: var(--popup-wrapper-z-index);
  --ws-video-action-z-index: 10;


}
